<% layout("/layouts/boilerplate") -%>
<body>
    <h2>Book Details :</h2>
    <ul>
        <li><%= book.title %></li>
        <li>Author: <%= book.author %></li>
        <li><%= book.description %></li>
        <li>Price: &#8377;<%= book.price %></li>
        <li>Release Date: <%= book.releasedate.toLocaleDateString("en-IN", {
                day: "numeric",
                month: "long",
                year: "numeric"
        }) %></li>
        <li>Country: <%= book.country %></li>
        <li>Genre: <%= book.genre %></li>
        <li>Pages: <%= book.pages %></li>
        <form action="/cart/add/<%= book._id %>" method="POST">
            <button type="submit">Add to Cart</button>
        </form>
    </ul>
</body>
