<% layout("/layouts/boilerplate") -%>
<body>
    <h2>Your Cart</h2>
    <% if (!cart || cart.items.length === 0) { %>
    <p>Your cart is empty</p>
    <% } else { %>
        <ul>
            <% cart.items.forEach(item => { %>
                <li>
                    <%= item.book.title %>
                    - &#8377;<%= new Intl.NumberFormat("en-IN").format(item.book.price) %>   
                    (Qty: <%= item.quantity %>)

                    <form action="/cart/increase/<%= item.book._id %>" method="POST" style="display:inline;">
                        <button>+</button>
                    </form>
                    <form action="/cart/decrease/<%= item.book._id %>" method="POST" style="display:inline;">
                        <button>-</button>
                    </form>
                    <form action="/cart/remove/<%= item.book._id %>" method="POST" style="display:inline;">
                        <button>Remove</button>
                    </form>
                </li>
          <% }) %>
        </ul>
        <% 
          let total = 0;
          cart.items.forEach(item => {
          total += item.book.price * item.quantity;
          });
        %>
        <h3>Total Price: &#8377;<%=  new Intl.NumberFormat("en-IN").format(total) %></h3>
    <% } %>  
    <form action="/cart/clear" method="POST">
        <button type="submit">Clear Cart</button>
    </form>
  
</body>
